<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- Add this repository to the list of available repositories -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="sentimentalanalysisml " value="https://www.myget.org/F/sentimentalanalysisml/api/v3/index.json" />
  </packageSources>
</configuration>